@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .about__secondary-pages {
    font-size: v.$font-sm;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-sm;
  }

  .about__address {
    font-family: "Mercury", Helvetica, Arial, sans-serif;
    font-size: v.$font-base;
    font-weight: normal;
  }

  .about__socials {
    display: flex;
    height: v.$spacing-base;
    gap: v.$spacing-base;
  }

  .about__socials svg {
    height: 100%;
    transition: fill .2s ease;
    fill: v.$primary;

    &:hover {
      fill: v.$selection;
    }
  }

  .about__social-name {
    display: none;
  }
}