@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.blog {
  padding-top: v.$spacing-6xl;
  text-align: center;

  .blog__date {
    font-size: v.$font-sm;
    display: block;
    margin-bottom: v.$spacing-base;
    text-transform: uppercase;
  }

  .blog__title {
    @include m.font2;
    font-weight: 600;
    margin: 0 auto;
    max-width: 70%;
  }
}