@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: v.$primary-background;
}

.header__side-logo {
  position: absolute;
  bottom: -30%;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}


.header__logo-text {
  font-family: 'Mercury', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  display: none;
  text-transform: uppercase;
}

@include m.screen(v.$md) {
  .header__logo-text {
    display: inline-block;
  }
}
