@use '../abstracts/variables' as v;

.logo {
  display: inline-block;
  fill: white;
}


.logo--mini-text,
.logo--lined {
  width: 7.5rem;
  fill: v.$primary;
}

.logo--background {
  width: 5.5rem;
}