@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.main-nav {
  display: flex;
  align-items: center;

  .main-nav__menu-items {
    margin-top: v.$spacing-base;
  }

  .main-nav__opener {
    font-size: v.$font-sm;
    font-weight: 600;
    position: fixed;
    z-index: 5;
    right: v.$spacing-base; // Is composited below!
    bottom: v.$spacing-base;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    min-height: 5rem;
    padding: v.$spacing-sm;
    cursor: pointer;
    text-transform: uppercase;
    border: .2rem solid v.$primary;
    border-radius: 50%;
    background: v.$primary-background;
    box-shadow: 0 0 60px rgba(10, 36, 88, .45);
    aspect-ratio: 1;

    .main-nav__opener--close {
      display: none;
    }
  }

  #main-nav__opener:checked {
    @media (max-width: v.$xl) {
      + .main-nav__opener {
        right: v.$spacing-base + .9rem; // Compensation for the scrollbar between 12px to 17px (https://www.google.com/search?q=with+of+a+scrollbar+default -> https://adminhacks.com/browser-scrollbar-widths.html)
        color: v.$light;
        background-color: v.$primary;
      }
    }

    + .main-nav__opener {
      .main-nav__opener--close {
        display: inline-block;
      }

      .main-nav__opener--menu {
        display: none;
      }
    }

    + .main-nav__tiny-menu {
      transform: translateX(0);
    }

    + * + .main-nav__menu {
      transform: translateX(0);
    }
  }

  #main-nav__opener {
    + * + .main-nav__menu {
      font-family: 'Mercury', Helvetica, Arial, sans-serif;
      font-size: v.$font-medium;
      font-weight: 600;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: scroll;
      width: 100%;
      height: 100vh;
      padding: v.$spacing-base v.$spacing-base 4rem;
      transition: transform 0.5s;
      transform: translateX(100%);
      background-color: v.$primary-background;
    }
  }

  .main-nav__main-section {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-large;
  }

  #main-nav__opener,
  .main-nav__sub-menu__opener {
    border: none;
    outline: none;
    appearance: none;
  }

  .main-nav__menu-item,
  .main-nav__menu-item--side {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid;
  }

  .main-nav__menu .main-nav__menu-item {
    margin-top: v.$spacing-medium;
  }

  .main-nav__menu-item {
    border-color: rgba(10, 36, 88, .25);
  }

  .main-nav__menu-item--secondary {
    font-family: 'Bruta Pro', Helvetica, Arial, sans-serif;
    font-size: v.$font-sm;
    font-weight: normal;
  }

  .main-nav__menu-item--side {
    border-color: rgba(0, 100, 188, .25);
  }

  .main-nav__sub-menu__icon {
    font-size: 0;
    position: relative;
    top: .2rem;
    display: inline-block;
    overflow: hidden;
    width: v.$font-base;
    height: v.$font-base;
    margin-left: v.$spacing-sm;
    cursor: pointer;
    transition: transform 0.5s;
    transform: rotate(0deg);
    aspect-ratio: 1;

    svg {
      width: 100%;
      height: 100%;
      transition: fill 0.3s;
      fill: v.$primary-font;
    }
  }

  .main-nav__sub-menu__icon:hover svg {
    width: 100%;
    height: 100%;
    fill: v.$selection;
  }

  .main-nav__sub-menu__opener:checked {
    + .main-nav__sub-menu__icon {
      transform: rotate(90deg);

      + .main-nav__sub-menu {
        font-family: 'Bruta Pro', Helvetica, Arial, sans-serif;
        font-size: v.$font-sm;
        height: auto;
        color: v.$primary-font;

        .main-nav__menu-item--side {
          margin-top: v.$spacing-sm;
        }
      }
    }
  }

  .main-nav__sub-menu {
    font-size: 0;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    height: 0;
    transition: color 0.5s;
    color: v.$primary-background;
  }

  .main-nav__tiny-menu {
    display: none;
  }

  .main-nav__menu > svg {
    display: none;
  }

  @include m.screen(v.$xl) {
    .main-nav__tiny-menu {
      display: flex;
      gap: v.$spacing-base
    }

    // Reset all styling
    .main-nav__opener {
      position: relative;
      top: 0;
      right: 0;
      order: 5;
      min-width: auto;
      min-height: auto;
      padding: 0;
      border: 0;
      box-shadow: none;

      aspect-ratio: unset;
    }

    .main-nav__opener {
      align-items: flex-start;
      flex-direction: column;
      margin-left: v.$spacing-medium;
      padding: v.$spacing-sm 0;

      .main-nav__opener--before,
      .main-nav__opener--after {
        &::before,
        &::after {
          position: absolute;
          width: 100%;
          content: '';
          border-bottom: 1px solid v.$primary;
        }
      }


      .main-nav__opener--before {
        &::before {
          top: 3px;
        }

        &::after {
          top: 1px;
        }
      }


      .main-nav__opener--after {
        &::before {
          bottom: 3px;
        }

        &::after {
          bottom: 1px;
        }
      }

      .main-nav__opener--before {
        display: inline-block;
      }
    }

    .main-nav__menu-items {
      display: grid;
      align-content: center;
      align-items: start;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: v.$spacing-medium;
    }

    .main-nav__main-section {
      display: flex;
      align-items: center;
      margin-top: v.$spacing-3xl;

      > :last-child {
        padding-left: v.$spacing-medium;
        border-left: 1px solid v.$accent;
      }
    }

    .main-nav__menu {
      background: url("/assets/icons/mainMenuBackground.svg");
      background-repeat: no-repeat;
      background-position: 150% 120%;
      background-size: 80%;
    }
  }
}
