@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.listing {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-xl;
  @include m.contained;

  .listing__item {
    &:not(:last-child):after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: v.$accent;
      margin-top: v.$spacing-xl;
    }

    &.listing__item--featured {
      .listing__image {
        aspect-ratio: 1;
        object-fit: cover;
        @include m.box-radius;
        margin-bottom: v.$spacing-base;
      }
    }

    .listing__link {
      @include m.font2;
      font-size: v.$heading-2;
      line-height: 102%;
      font-weight: normal;
    }

    .listing__category {
      text-transform: uppercase;
      font-size: v.$font-sm;
      font-weight: 600;

      &:not(:hover) {
        color: v.$primary-accent;
      }
    }

    .listing__date {
      &:after {
        content: '•';
        margin: 0 v.$spacing-sm;
      }
    }
  }
}