@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.rich-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: v.$spacing-large;
  max-width: 80%;
  @include m.mq(lg) {
    max-width: 50%;
  }

  @include m.rich-text;
}