@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.rich-text {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-large;
  @include m.rich-text;
  @include m.contained;

  &.rich-text--big > *:first-child:first-letter {
    color: v.$secondary-font;
    float: left;
    font-weight: 600;
    font-size: v.$font-6xl;
    letter-spacing: .1em;
    line-height: 69%;
    margin: 0 10px 0 0;
  }

  blockquote {
    border-left: v.$spacing-xsm solid v.$secondary;
    padding-left: v.$spacing-medium;

    strong, b {
      color: v.$secondary
    }
  }

  ul {
    list-style-type: disc;
    margin-left: v.$spacing-medium;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-base;
  }

  ol {
    list-style-type: decimal;
    margin-left: v.$spacing-medium;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-base;
  }

  a:not(:hover) {
    color: v.$primary-accent;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
