@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.rich-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: v.$spacing-large;
  font-family: 'Mercury', Helvetica, Arial, sans-serif;
  max-width: 80%;
  @include m.mq(lg) {
    max-width: 50%;
  }

  h1 {
    text-align: center;
    @include m.font2;
  }

  p {
    font-size: v.$font-base;
    line-height: 176%;
  }
}