@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.text-with-image {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: v.$padding-base;
  gap: 2rem;

  @include m.mq(lg) {
    flex-wrap: nowrap;
  }

  @include m.mq(xl) {
    gap: 6rem;
  }

  .text-with-image__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.3/1;
    object-fit: cover;
    @include m.box-radius;

    @include m.mq(lg) {
      max-width: 38.5625rem;
      max-height: 29.8125rem;
    }
  }

  .text-with-image__text {
    .text-with-image__about-title {
      font-size: v.$font-sm;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    .text-with-image__title {
      font-family: 'Mercury', Helvetica, Arial, sans-serif;
      font-weight: 600;
    }

    .text-with-image__spacer {
      height: 1px;
      margin: v.$spacing-medium 0;
      border: none;
      background-color: v.$accent;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: -5%;
      display: block;
      width: 110%;
      height: calc(50% + 3rem);
      content: '';
      background-color: v.$secondary-background;

      @include m.mq(lg) {
        top: 0;
        left: calc(50% - 10rem);
        flex-wrap: nowrap;
        width: 100vw;
        height: 100%;
      }
    }
  }

  &.text-with-image--reversed {
    @include m.mq(lg) {
      flex-direction: row-reverse;
    }

    .text-with-image__text {
      &:after {
        right: -5%;
        left: auto;

        @include m.mq(lg) {
          right: calc(50% - 10rem);
          left: auto;
        }
      }

    }
  }
}