{% extends "layouts/_base" %}

{% block content %}
    <main class="dynamic-content container">
        {% include 'components/_blog' %}
        {% include 'layouts/_dynamic-content' %}
    </main>
{% endblock %}