@use './variables' as v;

@mixin screen($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin mq($breakpoint) {
  @if map-has-key(v.$breakpoints, $breakpoint) {
    @media (min-width: #{map-get(v.$breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin box-radius {
  border-radius: v.$spacing-base;
}

@mixin font2 {
  font-family: 'Mercury', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin contained {
  margin: 0 auto;
  max-width: 80%;
  @include mq(xl) {
    max-width: 50%;
  }
}

@mixin rich-text {
  font-family: 'Mercury', Helvetica, Arial, sans-serif;

  h1 {
    text-align: center;
    @include font2;
  }

  p {
    font-size: v.$font-base;
    line-height: 176%;
  }
}