// Colors
$primary: hsl(220, 80%, 19%);
$primary-accent: hsl(208, 100%, 37%);
$dark: hsl(0, 0%, 25%);
$gray: hsl(0, 0%, 93%);
$medium: hsl(0, 0%, 75%);
$light: hsl(0, 0%, 100%);
$accent: hsl(220, 32%, 91%);
$gold: hsl(22, 26%, 42%);

// Selection colors
$selection: hsl(0, 72%, 35%);
$selection-background: hsl(0, 0%, 100%);

// Font Colors
$primary-font: hsl(208, 100%, 37%);

// Font Sizes
$font-sm: .8rem;
$font-base: 1rem;
$font-pre-medium: 1.2rem;
$font-medium: 1.5rem;
$font-large: 2rem;

// Background colors
$primary-background: $light;

// Spacings
$spacing-xsm: .3rem;
$spacing-sm: .5rem;
$spacing-base: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;
$spacing-xl: 2.5rem;
$spacing-xxl: 3rem;
$spacing-3xl: 3.5rem;
$spacing-4xl: 4rem;
$spacing-5xl: 4.5rem;
$spacing-6xl: 5rem;

// Breakpoints
$def: 20rem;
$xs: 23.5rem;
$sm: 36rem;
$md: 48rem;
$lg: 62rem;
$gl: 64rem;
$xl: 75rem;

$breakpoints: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl
);

// To containers
$col-sm: 33.75rem;
$col-md: 50rem;
$col-lg: 60rem;
$col-xl: 80rem;
$col-xxl: 90rem;
$col-xxxl: 105rem;