<section class="blog">
    <em class="blog__date">{{ entry.postDate|date('F j, Y') }}</em>
    <h1 class="blog__title">{{ entry.title }}</h1>
    {% include 'components/_breadcrumbs' with {
        ulClass: "blog__list",
        liClass: "blog__item",
        aClass: "blog__link"
    } %}
</section>



