<section class="blog">
    {% if entry.blogCategory is not empty and entry != (entry.blogCategory | first).title %}
        <em class="blog__date">{{ entry.postDate|date('F j, Y') }}</em>
    {% endif %}
    <h1 class="blog__title">{{ entry.title }}</h1>
    {% include 'components/_breadcrumbs' %}
</section>
