{% set segments = craft.app.request.getSegments() %}
{% if segments | length > 1 %}
    <ul class="breadcrumbs">
        {% for segment in segments %}
            {% if not loop.last %}
                {% set page = craft.entries.slug(segment).one() %}
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}