<header class="header">
    <span>
        <a class="header__text" href="{{ currentSite.baseUrl }}">The White House</a>
        {% include "components/branding/_logoMiniText" %}
    </span>
    <span class="header__logo">
        {% include "components/branding/_logoPrimaryBackground" %}
    </span>
    <span>
        {% include "components/_nav" %}
    </span>
</header>
