<a href="{{ currentSite.baseUrl }}" class="logo logo--side">
    {# Get image #}
    {% set image = branding.logoSide.one() %}

    {# Check if image is svg, use svg if, else img. #}
    {% if image and image.extension == 'svg' %}
        {{ svg(image) }}
    {% else %}
        <img class="logo" src="{{ image.url }}" alt="{{ image.title }}"/>
    {% endif %}
</a>