{% for site in sites %}
    {% if currentSite.id is not same as(site.id) %}
        {% set url = craft.entries.siteId(site.id).id(entry.id).one().url %}
        <li>
            <a href="{{ url }}" class="language {% if classes is defined %}{{ classes }}{% endif %}">
                {% set langHandle = site.language | split('-') | first | lower %}
                {{ translations.languages[langHandle] }}
            </a>
        </li>
    {% endif %}
{% endfor %}