<nav class="main-nav">
    {% set sites = craft.app.sites.getAllSites() %}
    <input id="main-nav__opener" type="checkbox">
    <label for="main-nav__opener" class="main-nav__opener">
        <span class="main-nav__opener--before"></span>
        <span class="main-nav__opener--menu">{{ "Menu" | t }}</span>
        <span class="main-nav__opener--close">{{ "Close" | t }}</span>
        <span class="main-nav__opener--after"></span>
    </label>
    <section class="main-nav__menu">
        {% include "components/_logoSide" %}
        <section class="main-nav__main-section">
            <ul class="main-nav__menu-items">
                {# Main Nav / Primary Pages #}
                {% set pagesMain = craft.entries().section('pages').level(1).includedInMainMenu(1).secondaryPage(0) %}
                {% set pagesExtra = craft.entries().section('pages').level("not 1").includedInMainMenu(1).overwriteLevelDepth(1).secondaryPage(0) %}
                {% set pages = pagesMain | merge(pagesExtra) %}
                {% include 'components/_navItems' with {
                    'pages': pages,
                    'classes': 'main-nav__menu-item',
                    'renderChildren': true
                } %}

                {# Languages #}
                {% include 'components/_navSites' with {
                    classes: "main-nav__menu-item"
                } %}
            </ul>

            {% include 'components/_about' %}
        </section>
    </section>
    <ul class="main-nav__tiny-menu">
        {# Pages #}
        {% set highlightedPagesMain = craft.entries().section('pages').level(1).includedInTinyMenu(1).secondaryPage(0) %}
        {% set highlightedPagesExtra = craft.entries().section('pages').level("not 1").includedInTinyMenu(1).overwriteLevelDepth(1).secondaryPage(0) %}
        {% set highlightedPages = highlightedPagesMain | merge(highlightedPagesExtra) %}
        {% include 'components/_navItems' with {
            'pages': highlightedPages,
            'classes': 'main-nav__menu-item main-nav__tiny-menu-item'
        } %}

        {# Languages #}
        {% include 'components/_navSites' %}
    </ul>
</nav>
