{# Check if required fields are defined. #}
{% if c.text is defined and c.image is defined and c.orientation is defined %}
    <section class="text-with-image{% if c.orientation %} text-with-image--reversed{% endif %}">
        {% include 'components/_image' with { image: c.image.one(), classes: "text-with-image__image" } %}
        <article class="text-with-image__text">
            {% if c.textTitle is defined %}
                {% if c.aboutTitle is defined %}<p>{{ c.aboutTitle }}</p>{% endif %}
                <h2>{{ c.textTitle }}</h2>
                <hr>
            {% endif %}
            <p>{{ c.text }}</p>
        </article>
    </section>
{% endif %}