/* v1.0.2
Lyttle Defaults ~ Recommended to use with Lyttle Reset:
https://github.com/Stualyttle/LyttleTools/blob/main/CSS/reset.css
*/
@use '../abstracts/variables' as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* word-wrap: break-word; */
}

body {
  //line-height: 1;
  font-family: 'Bruta Pro', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  color: v.$primary;
}

strong {
  font-weight: 600;
}

p > a,
a.link {
  line-height: 180%;
  display: inline;
  padding-bottom: 1px;
  transition: .2s ease;
  border-color: v.$accent;
  border-bottom: 1px solid;

  &:hover {
    color: v.$selection;
    border-color: v.$selection;
  }
}

p > a.hidden,
a.link.hidden {
  border-color: transparent;

  &:hover {
    border-color: v.$selection;
  }
}

::selection {
  color: v.$selection-background;
  background-color: v.$selection;
}

h1 {
  font-size: v.$heading-1
}

h2 {
  font-size: v.$heading-2
}

h3 {
  font-size: v.$heading-3
}

h4 {
  font-size: v.$heading-4
}

h5 {
  font-size: v.$heading-5
}

p {
  font-size: v.$font-sm
}
